
<h2>{{ user.name }} Details</h2>
<form class="col col-lg-10" [formGroup]="userDetailsForm">
  <app-validation [errors]="errors"></app-validation>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
           required name="name" formControlName="name" [maxlength]="50" >
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email"
           required name="email" formControlName="email"  [maxlength]="70">
  </div>
  <div class="form-group">
    <label class="checkbox-inline">
      <input type="checkbox" name="favoriteColors" formControlName="isActive"  > Active
    </label>
  </div>



  <div class="buttons">
  <button type="button"  class="btn btn-secondary" routerLink="/users">Close</button>
  <button type="button" class="btn btn-primary" style="float: right;margin-left:1%;"  (click)="onSave()">Save
    changes
  </button>
    <a class="icon" (click)="sendMail()" >
      <span class="glyphicon glyphicon-envelope"></span>
    </a>
    <a class="icon" (click)="delete()">
      <span class="glyphicon 	glyphicon glyphicon-trash"></span>
    </a>
  </div>
</form>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete user</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete user?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Delete user</button>
      </div>
    </div>
  </div>
</div>
