<div style=" font-size: 2.0vw;position: absolute; z-index:2; LINE-HEIGHT:2.2vw;text-align: center; font-family: 'Montserrat';color: #3C3352; margin-top: 1%">

    <p> Welcome to the acts of <b>Kindness day</b> randomizer.
        <br>
        This instrument will help you to make someone's day better.</p>
</div>


<picture>
    <source srcset="/assets/background-01.png">
    <img  alt="Flowers" style="width:100%;  max-width: 1920px; max-height: 1039px; position:absolute;  z-index:1">
</picture>
<picture>
    <source srcset="/assets/boy-talk.png">
    <img  alt="Flowers" style="width:100%;  max-width: 1920px; max-height: 1039px;position: relative; z-index:2">
</picture>



<div >
    <picture>
        <source srcset={{receiver.path}}>
        <img  alt="Flowers" style="border-radius: 50%;width:26%; height:48%; position: absolute;z-index:2; margin-left:-63.1%; margin-top:6.5% ">
    </picture>
</div>





<div style=" font-size: 1.2vw;position: absolute; z-index:2; LINE-HEIGHT:1.5vw;text-align: left; font-family: 'Montserrat';color: #3C3352; margin-top: 33%; margin-left: -15%">
    <p>This time <span style="color: #2EB872;"><b>{{receiver.receiver}}</b></span>
        <br> will be lucky to receive a gift from you </p>
</div>