body {
    justify-content: center;
    display: flex;
    position: relative;
    background-color: #F5F5F5;
}

.main-text {
    font-size: 2.0vw;
    position: absolute;
    z-index:2;
    LINE-HEIGHT:2.2vw;
    text-align: center;
    font-family: 'Montserrat';
    color: #3C3352;
    margin-top: 1%
}

.main-pic {
    width:100%;
    max-width: 1920px;
    max-height: 1039px;
    position: relative;
    z-index:2
}

.background {
    width:100%;
    max-width: 1920px;
    max-height: 1039px;
    position:absolute;
    z-index:1
}

.user-pic {
    border-radius: 50%;
    width:26%;
    height:48%;
    position: absolute;
    z-index:2;
    margin-left:-63.1%;
    margin-top:6.5%;
    max-width: 477px;
    max-height: 477px;
}

.small-text {
    font-size: 1.2vw;
    position: absolute;
    z-index:2;
    LINE-HEIGHT:1.5vw;
    text-align: left;
    font-family: 'Montserrat';
    color: #3C3352;
    margin-top: 33%;
    margin-left: -15%
}
