<div class="container-full">

<div class="container">



        <div class="row text-center main-text ">
            Welcome to the<b> Acts of Kindness day</b> randomizer.
            <br>This instrument will help you to make someone's day better.
        </div>


        <div class="user">
            <img class="user-pic" alt="User" [src]="this.sanitization.bypassSecurityTrustUrl(receiver.path)">
        </div>


        <div class="text-popup">
            This time <span style="color: #2EB872;font-weight: bold">{{receiver.receiver}}</span>
            <br> will be lucky to receive a gift from you

        </div>


    <div class="bg-boy">

    </div>

    <div class="bottom-text">
        “Kindness is a language which the deaf can hear and the blind can see.” Mark Twain

    </div>

</div>


</div>