<div class="main-text">
    <p> Welcome to the acts of <b>Kindness day</b> randomizer.
        <br>This instrument will help you to make someone's day better.</p>
</div>
<picture>
    <source srcset="/assets/back1.png">
    <img  alt="Flowers" class="background">
</picture>
<picture>
    <source srcset="/assets/boy-talk.png">
    <img  alt="Flowers" class="main-pic">
</picture>
<div>
    <picture>
        <source srcset={{receiver.path}}>
        <img class="user-pic" alt="User">
    </picture>
</div>


<div class="small-text">
    <p>This time <span style="color: #2EB872;"><b>{{receiver.receiver}}</b></span>
        <br> will be lucky to receive a gift from you </p>
</div>